page-infinite-scroll {
	.header-md{
		&:after{
			background-image: none;
		}
	}
	.empty{
		height: 56px;
	}
    // overwrite list styles
    .list-container{
        top: 112px;
        .item,.item-inner.item-inner{
            padding: 0;
            border: 0;
            .input-wrapper{
                display: block;
                height: 285px;
                ion-label{
                    margin: 0;
                    overflow: initial;
                }
            }
        }
        .item{
            &:first-child{
                .input-wrapper{
                    height: calc(100vh - 110px);
                }
            }
            &:not(:first-child){
                .blogs{
                    height: 250px;
                    &__content{
                        width: 90%;
                        &__header,&__footer{
                            color: #4c4c4c;
                        }
                        &__body{
                            .post-title{
                                color: #9c9c9c;
                                font-size: 1.15em;
                            }
                        }
                    }
                }                
            }
        }
    }
    ion-slide{
        &:first-child{
            .blogs{
                position: relative;
                top: 112px;
            }
        }
        &:not(:first-child){
            height: auto !important;
            margin: 15px 0 28px 0;
        }
    }
	.scroll-content{
		margin-top: 0 !important;
		padding: 0 !important;
	}
	.swiper-slide{
		align-items: flex-start;
	}
	.blogs{
		&__content{
            white-space: initial;
		}
        // &.short{
        //     height: 250px;
        //     .blogs__content{
        //         width: 90%;
        //         &__header,&__footer{
        //             color: #4c4c4c;
        //         }
        //         &__body{
        //             .post-title{
        //                 color: #9c9c9c;
        //                 font-size: 1.15em;
        //             }
        //         }
        //     }
        // }
	}
}






